#reloj{
    font-family: sans-serif; /*font-family sirve para definir la fuente del texto*/
    font-size: 60px; /*font-size sirve para definir el tamaño de la fuente*/
    text-shadow: 0px 0px 1px #333; /*text-shadow sirve para definir una sombra al texto, 
    el primer valor es el desplazamiento horizontal, el segundo valor es el desplazamiento vertical 
    y el tercer valor es el desenfoque*/
    color: #fff; /*color sirve para definir el color del texto*/
    
}

.reloj-contenedor{
    background-color: rgb(12, 119, 206); /*background-color sirve para definir el color de fondo*/
    padding: 25px; /*padding sirve para definir el espacio interno entre el contenido y el borde*/
    max-width: 350px; /*max-width sirve para definir el ancho maximo del elemento*/
    text-align: center; /*text-align sirve para definir la alineacion del texto*/
    border-radius: 5px; /*border-radius sirve para definir el radio de los bordes*/
    margin: 0 auto; /*margin sirve para definir el espacio externo entre el elemento y otros elementos
    este caso 0px arriba y abajo y auto a los lados para centrar el elemento*/
    margin-top: 10%; /*margin-top sirve para definir el espacio externo arriba del elemento*/
}

#fecha{
    
}